.git
.gitignore
.github
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
build
dist
wheels
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.idea
.vscode
.DS_Store
tests
docker-compose.yml
examples
